body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* keeps it at the top, not vertically centered in viewport */
    min-height: 100vh;
}

#board {
    background-color: black;
}

#game-wrapper {
    position: relative;
    width: fit-content; /* shrinks to canvas size */
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* allows clicks to pass through to the board */
}

#pop-up.hidden {
    display: none;
}

#pop-up {
    position: absolute;
    top: 0;
    left: 0;
    /* make the whole background black */
    width: 100%;
    height: 100%;
    
    /* semi-transparent dark background */
    background-color: rgba(0, 0, 0, 0.75);
    color: white;

    /* center the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pop-up-title {
    font-family: "Micro 5";
    font-size: 128px;
}

#pop-up-btn {
    font-family: "Micro 5";
    font-size: 48px;
    padding: 10px 20px;
}